<div class="container-fluid">
  <table class="table table-striped jm">
    <thead>
      <th scope="col">#</th>
      <th style="width: 10%" scope="col">제목</th>
      <th style="width: 75%"scope="col">내용</th>
      <th style="width: 5%"scope="col"></th>
      <th style="width: 5%"scope="col"></th>
      <th style="width: 5%"scope="col"></th>
    </thead>
     <% @posts.each do |p| %>            
    <tbody>
      <th scope="row"><%= p.id %></th>
      <td><%= p.title %></td>
      <td><%= p.content %></td>
      <td><a href='/posts/<%= p.id %>'><button type="button" class="btn btn-success">보기</button></a></td>
      <!--<td><%= link_to '보기', post_path(id: p.id)%></td>-->
      <td><a href="/posts/<%= p.id %>/edit"><button type="button" class="btn btn-success">수정</button></a></td>
      <td><a href="/posts/<%= p.id %>" data-method='delete' data-confirm='정말로요?' ><button type="button" class="btn btn-success">삭제</button></a></td>
    </tbody>
      <% end %>
  </table>
</div>